.gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
   
    gap: 15px;
    /* Відступ між картками */
    justify-content: center;
    padding: 20px;
}

.listItem {
    list-style: none;
    /* Видаляємо маркери списку */
}